/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-image: url('../img/background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.form-container, .main-container, .form-filter{
    width: 100%;
    max-width: 400px;
    background-color: #f3f3f3;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    padding: 15px;
}
.form-filter{
    max-width: 600px;
    box-sizing: border-box;
}


.form-group {
    margin-bottom: 10px;
}
.form-inline {
    display: flex;
    align-items: center;
}

.form-inline .form-group {
    margin-right: 10px;
    flex-grow: 1;
}

.form-inline button {
    flex-shrink: 0;
    padding: 5px 10px;
}
label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="date"],
button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.form-filter button {
    width: 140px;
    margin: 5px;
}

button:hover {
    background-color: #45a049;
}

.main-container {
    max-width: 600px;
    background-color: #a0f1ff;
    padding: 30px;
}

h2 {
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr {
    background-color: #ddd;
}